header.membership{
  width: 30%;
}
.membership{
  @include conponent_size;
  // text-align: center;
}
.email-box{
  margin: 20px auto;
  position: relative;
  display: flex;
  label{
    position: absolute;
    color: #aaa;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
    @include responsive($breakpoint-small){
      top: 25px;
    }
  }
  @include responsive($breakpoint-small){
    flex-wrap: wrap;
    justify-content: center;
  }
  &.focused{
    label{
      top: 15px;
      font-size: 10px;
    }
  }
  input{
    font-size: $font-size-medium;
    padding: 0.5rem 1rem;
    padding-top: 20px;
    margin-right: 10px;
    width: 80%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    border-radius: 4px;
    &:focus{
      box-shadow: 0 0 2px white;
    }
    @include responsive($breakpoint-small){
      width: 419px;
      margin-bottom: 10px;
    }
  }
  button{
    width: 186px;
    height: 56px;
    font-size: $font-size-small;
    @include button-style;
  }
}
.style{
  margin: 0 auto;
}
.app > .membership > p{
  text-align: center;
}